.margin-auto {
    margin: auto;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100vh;
}

#results {
    display: none;
}

.fixed-header tbody{
    display:block;
    overflow:auto;
    max-height: 80vh;
    width:100%;
}

.fixed-header thead tr {
    display:block;
    box-sizing: content-box;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #F1F1F1;
}

.btn-xxl {
    height: 68px;
    line-height: 68px;
    font-size: 18px;
    padding: 0 120px;
}

table {
    table-layout: fixed;
}

tr {
    display: block;
}

.pageName{
    max-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}